@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
}

h1 {
    background-color: #10007A;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-bottom: 15px;
}

p {
    padding: 10px;
    margin-top: 10px;
    font-size: 17px;
}

h2 {
    background-color: #eee;
    border-bottom: 3px solid #CCC;
    margin-top: 20px;
    padding: 10px;
}

h3 {
    margin-top: 15px;
    padding: 10px;
}

a {
    color: #00f;
    text-decoration: none;
}

ul {
    margin: 10px;
    padding: 20px;
}

.box p {
    margin-top: -5px;
}