* {
    box-sizing: border-box;
}

body {
    background-color: #eee;
}

h1 {
    padding: 5px;
    background-color: #3ba031;
    color: #fff;
    text-align: center;
}

h2 {
    background-color: #6dbf5d;
    color: #fff;
    border-bottom: solid 3px #6dbf5d;
    padding: 5px;
}

a {
    text-decoration: none;
    color: #703d38;
}

img {
    height: 200px;
    width: 200px;
    border-radius: 700px;
}

p {
    font-size: 17px;
}