* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #F0F0F0;
    font-family: 'Raleway'; 
    color: #EC4B6F;
}

header {
    margin-bottom: 40px;
}

hr {
    color: rgba(217,217,217,255);
}

.container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-images {
    width: 650px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-images #logo {
    margin-right: 40px;
}

.content-images #banner {
    margin-left: 300px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

section .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 130px;
}

.menu li {
    margin-left: 50px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 0.2s;
}

.menu li:hover {
    text-decoration: underline;
    cursor: pointer;
}

h1 {
    color: #EC4B6F;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 15px;
    padding: 20px;
}

.layout {
    width: 650px;
    margin: auto;
    border-spacing: 15px 0px;
}

.layout td {
    background-color: #fff;
}

.layout img {
    width: 300px;
}

.name-cat {
    font-weight: 900;
    font-size: 18px;
    text-transform: uppercase;
    padding: 30px 0px 0px 20px;
}

.description-cat {
    color: #6b6b6b;
    font-family: Arial;
    padding: 10px 0px 20px 20px;
}

i {
    margin-right: 10px;
}

button {
    font-family: 'Pacifico';
    width: 160px;
    background-color: #fc9603;
    border: 2px solid #fc9603;
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;   
    transition: all 0.2s;
}

button:hover {
    background-color: #e27100;
    border: 2px solid #e68600;
    cursor: pointer;
}

