body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .tabuada, .numeros-pares, .anos-bissextos {
    background-color: #fff;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  #tabuada-output, #numeros-pares-output, #anos-bissextos-output {
    margin-top: 10px;
  }
  